
*{
  background-color:whitesmoke;
  font-family: arial;

}

nav{
  background-color: #666;
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  margin: 0;
  top: 0px;
  width: 100%;
  
}

.nav-links-right{
  list-style-type: none;
  text-decoration: none;
  color:black;
  display:inline-block;
  float:right;
  font-size:13px;

}

.nav-left{
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Satisfy', cursive;
  display:inline-block;
  float: left;
  color: #5c061d;
}

/*#title{
  font-size: 90px;
  font-family: 'Satisfy', cursive;
  text-align: center;
  color: #5c061d;
}*/

.container{
  width:500px;
  margin: 0 auto;
}