.container{
  width:650px;
  margin: 0 auto;
}

/*Headers*/

.italia{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding: 50px;
}


.cities{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
}
