
*{
  background-color:#fff8f0;
  font-family: arial;

}

#title{
  font-size: 90px;
  font-family: 'Satisfy', cursive;
  text-align: center;
  color: #5c061d;
}

.container{
  width:700px;
  margin: 0 auto;
}